<div class="grid-container">

  <div class="header">
    <img  (click)="changeView(0)" class="img_Logo" src="https://oficina.espoch.edu.ec/dtic/images/icons/logo_espoch.png" alt="">
    <div class="perfil">
      <img class="perfil_Img" src="../assets/img/user_profile.png" alt="perfil_foto">
      <label class="perfil_name" for="">Pablo Bolaños</label>
    </div>
  </div>

  <div class="navbar">
    <label class="tc-Title" for="">Teoria de Colas</label>
    <div class="container-Btns">
      <button
        mat-raised-button
        id="btn-PFCM"
        (click)="changeView(1)"
      >
        PFCM
      </button>
      <button
        mat-raised-button
        id="btn-PICM"
        (click)="changeView(2)"
      >
          PICM
      </button>
    </div>
  </div>

  <div class="main">
    <app-welcome *ngIf="this.viewInterface == 0"></app-welcome>
    <app-pfcm *ngIf="this.viewInterface == 1"></app-pfcm>
    <app-picm *ngIf="this.viewInterface == 2"></app-picm>
  </div>

  <div class="footer">
    <label for="">ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO 2023</label>
  </div>

</div>
